html, body {
  font-family: "freight-sans-pro", sans-serif;
  margin: 0px;
}

.box-title {
  float:none !important;
  padding-right: 10px !important;
  i.fa {
    color:#ddd;
    font-size: 0.75em;
    &:hover {
      color:#aaa;
    }
  }
}