<!DOCTYPE html>
<html>
<head>
  <title>Kpcc Audio Aggregator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <script src="//use.typekit.net/wzm5aab.js" type="text/javascript"></script>
    <script>
      try{Typekit.load();}catch(e){}
    </script>
</head>
<body class="skin-black">

</body>
</html>
