<div class="right-side">
  <section class="content">
    <h1>Recent Audio Stories</h1>
    <div class="row">
      {{#each article in audioStories}}
        {{view 'audio_story' contentBinding="article"}}
      {{/each}}
    </div>
  </section>
</div>