<div class="collections">
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">Audio Collections</h3>
      <a {{action 'openModal' 'audio_collection_new'}} class="new-collection pull-right">
        <i class="fa fa-plus-circle"></i> 
        <span>New</span>
      </a>
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
      <table class="table table-condensed">
        <tbody><tr>
          <th>Title</th>
          <th style="width: 120px">Updated</th>
        </tr>
        {{#each audio_collection in controller.model.audioCollections}}
          <tr>
            <td>{{audio_collection.title}}</td>
            <td>{{format-date audio_collection.updated_at}}</td>
          </tr>
        {{/each}}
      </tbody></table>
    </div><!-- /.box-body -->
  </div>
</div>
