<div class="modal fade in" style="display:block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        {{title}}
      </div>
      <div class="modal-body">
        Are you sure you want to delete this Audio Collection?
      </div>
      <div class="modal-footer">
        <button class="btn" {{action close}}>Cancel</button>
        <button class="btn btn-danger" {{action confirm}}>Yes delete this</button>
      </div>
    </div>
  </div>
</div>