<div class="collections">
  <div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Audio Collections</h3>
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-condensed">
            <tbody><tr>
                <th style="width: 10px">#</th>
                <th>Title</th>
                <th style="width: 40px">Duration</th>
            </tr>
            <tr>
                <td>1.</td>
                <td>How ants play school will surprise you!</td>
                <td><b>05:32</b></td>
            </tr>
            <tr>
                <td>2.</td>
                <td>How ants play school will surprise you!</td>
                <td><b>05:32</b></td>
            </tr>
            <tr>
                <td>3.</td>
                <td>How ants play school will surprise you!</td>
                <td><b>05:32</b></td>
            </tr>
            <tr>
                <td>4.</td>
                <td>How ants play school will surprise you!</td>
                <td><b>05:32</b></td>
            </tr>

        </tbody></table>
    </div><!-- /.box-body -->
</div>
</div>

<div class="right-side">
  <section class="content">
    <h1>Recent Audio Stories</h1>
    <div class="row">
      {{#each article in controller.model}}
        {{view 'article' contentBinding="article"}}
      {{/each}}
    </div>
  </section>
</div>
